{% extends 'base.html' %}

{% block title %}
    Reviews for {{ product.name }} - HandmadeExpress
{% endblock %}

{% block content %}
    <h3 class="text-success d-inline-block mb-4">Reviews for {{ product.name }}</h3>
    {% if reviews %}
        <div class="d-flex flex-wrap">
            {% for review in reviews %}
                {% include 'ShopApp/includes/review.html' %}
            {% endfor %}
        </div>
    {% else %}
        <p>There are no reviews for this product yet.</p>
    {% endif %}
{% endblock %}