{% extends 'base.html' %}

{% block title %}
    {{ product.name }} - HandmadeExpress
{% endblock %}

{% block content %}
    <section>
        <div class="d-flex">
            <div>
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid h-75">
            </div>
            <div class="text-light">
                <div class="mb-5 pb-5">
                    <h1>{{ product.name }}</h1>
                    <p>{{ product.description }}</p>
                    <p>Seller: <a class="text-decoration-none text-success"
                                  href="../users/{{ product.seller }}">{{ product.seller.full_name }}</a></p>
                    <p>Rating: <a class="text-decoration-none text-success" href="{% url "reviews" product.slug %}">{{ product.calculate_average_rating }}</a></p>
                </div>
                <div class="pt-5 mt-5">
                    <div class="d-flex justify-content-between">
                        <h4 class="text-success">${{ product.price }}</h4>
                        <p class="me-5" style="font-size: 15px">Only {{ product.quantity }} left</p>
                    </div>
                    <form action="/cart/add" method="post" class="d-flex justify-content-between">
                        <input type="hidden" name="product_id" value="{{ product.id }}">
                        <label>Quantity:
                            <input style="width: 50px; height:33px; " type="number" name="quantity" value="1" min="1">
                        </label>
                        <button type="submit" class="btn btn-success me-5">Add to cart</button>
                    </form>
                </div>

            </div>
        </div>
    </section>
{% endblock %}
