{% extends 'base.html' %}

{% block title %}
    Reviews for {{ product.name }} - HandmadeExpress
{% endblock %}

{% block content %}
    <h3 class="text-success d-inline-block mb-4">Reviews for {{ product.name }}</h3>
    {% if reviews %}
        <div class="d-flex flex-wrap">
            {% for review in reviews %}
                <div class="card bg-light d-flex mb-3 flex-shrink-1 me-4" style="width: 250px; height: fit-content;">
                    <div class="card-body d-flex flex-column">
                        <a class="text-decoration-none text-success" href="#">
                            <h4 class="tw-bold d-inline-block">{{ review.customer.full_name }}</h4>
                        </a>
                        <p style="font-size: 14px" class="d-inline-block">Rating: {{ review.rating }}</p>
                        <p class="card-text d-inline-block">{{ review.comment }}</p>
                    </div>
                    <div>
                        {% if review.image %}
                            <img src="{{ review.image.url }}"
                                 class="card-img-bottom"
                                 alt="{{ product.name }}"
                                 width="250px">
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>There are no reviews for this product yet.</p>
    {% endif %}
{% endblock %}