{% extends 'base.html' %}

{% block title %}
    {{ seller.display_name }} - HandmadeExpress
{% endblock %}

{% block content %}
    <div class="d-flex">
        <h3 class="text-success me-4">{{ seller.display_name }}{% if s_after_apostrophe %}'s
        {% else %}'
        {% endif %}
            products
        </h3>
        {% if seller.user.id is request.user.id %}
            <div class="bg-success rounded-pill px-3 py-2" style="width: fit-content">
                <a class="text-light text-decoration-none" href="{% url 'add_product_to_shop' %}">+ Add Product</a>
            </div>
        {% endif %}
    </div>
    <div class="mt-3 d-flex">
        {% for product in products %}
            {% include "ShopApp/includes/product.html" %}
        {% endfor %}
    </div>
{% endblock %}