<div class="card bg-light me-3" style="width: 13rem;">
    <a href="{% url 'product_detail' product.slug %}">
        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
    </a>
    <div class="card-body d-flex flex-column justify-content-between">
        <div>
            <a href="{% url 'product_detail' product.slug %}" class="text-decoration-none text-success">
                <h6 class="fw-bold card-title">{{ product.name }}</h6>
            </a>
        </div>
        <div class="d-flex flex-column justify-content-end">
            <p style="font-size: 14px">Rating: {{ product.calculate_average_rating }}</p>
            <div class="d-flex justify-content-between">
                <p class="align-self-end" style="font-size: 10px">{{ product.sold }} sold</p>
                <p class="fw-bold align-self-end">${{ product.price }}</p>
            </div>
            <a href="#" class="btn btn-success">Add to cart</a>
        </div>
    </div>
</div>