<div class="card bg-light d-flex mb-3 flex-shrink-1 me-4" style="width: 250px; height: fit-content;">
    <div class="card-body d-flex flex-column">
        <a class="text-decoration-none text-success" href="#">
            <h4 class="tw-bold d-inline-block">{{ review.customer.display_name }}</h4>
        </a>
        <p style="font-size: 14px" class="d-inline-block">Rating: {{ review.rating }}</p>
        <p class="card-text d-inline-block">{{ review.comment }}</p>
    </div>
    <div>
        {% if review.image %}
            <img src="{{ review.image.url }}"
                 class="card-img-bottom"
                 alt="{{ product.name }}"
                 width="250px">
        {% endif %}
    </div>
</div>